<!DOCTYPE html>
<html lang="ko"
      xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org/)"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content" class="service-details-page">
    <main id="content">
        <!-- Page Title -->
        <div class="page-title light-background">
            <div class="container d-lg-flex justify-content-between align-items-center">
                <h1 class="mb-2 mb-lg-0">Blog</h1>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="index.html">Home</a></li>
                        <li class="current">Blog</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->
        <div class="row offset-1 col-10 my-3">
            <table class="">
                <thead><tr><td>
                    <button type="button" class="btn btn-light">이전게시물</button>
                    &nbsp;
                    <button type="button" class="btn btn-light">다음게시물</button></td>
                    <td class="text-end">
                        <button type="button" class="btn btn-primary col-3" id="newbdbtn" th:if="${session.loginUser ne null}">
                            새글쓰기
                        </button></td>
                </tr>
                </thead>
                <tbody>
                <tr><th class="vtit" colspan="2" th:text="${board.board_title}">제목</th></tr>

                <tr class="vinfo">
                    <td th:text="|작성자 : ${board.user_id}|" style="font-size: 1.5em">
                        작성자
                    </td>
                    <td class="text-end vinf" th:text="|작성일 : ${#strings.substring(board.board_regdate, 0, 10)} / 조회수 : ${board.board_views}|">
                        작성일 : [[${board.board_regdate}]] / 조회수 : [[${board.board_views}]]
                    </td>
                </tr>

                <tr><td class="vcont pre" colspan="2" th:text="${board.board_cont}">본문글</td></tr>
                </tbody>
                <tfoot><tr><td>
                    <button type="button" class="btn btn-warning">
                        수정하기</button>
                    &nbsp;
                    <button type="button" class="btn btn-danger" id="rmvbdbtn">
                        삭제하기</button></td>
                    <td class="text-end"><button type="button" class="btn btn-light" id="lstbdbtn">
                        목록으로</button></td>
                </tr>
                </tfoot>
            </table>

            <div class="my-3">
                <h3><i class="fa fa-commenting">나도 한 마디</i></h3>
            </div>

<!--            <table class="table reply-border">-->
<!--                <tr th:each="rp: ${bdrps.rps}">-->
<!--                    <th:block th:if="${rp.rno eq rp.ref}">-->
<!--                        <td class="text-left" th:text="${rp.userid}"></td>-->
<!--                        <td>-->
<!--                            <div class="cmtbg"><span th:text="${rp.regdate}">2025-03-04 23:41:27</span>-->
<!--                                <span class="pushend" th:if="${session.loginUser ne null}">-->
<!--                                            <a href="#" th:data-ref="${rp.rno}" data-bs-toggle="modal"-->
<!--                                               data-bs-target="#cmtModal">[추가]</a> [수정] [삭제]</span></div>-->
<!--                            <p class="py-1 pre" th:text="${rp.comments}"></p>-->
<!--                        </td>-->
<!--                    </th:block>-->

<!--                    <th:block th:if="${rp.rno ne rp.ref}">-->
<!--                        <td class="text-left">&nbsp;&nbsp;</td>-->
<!--                        <td>-->
<!--                            <div class="rpybg"><span th:text="${rp.userid}">작성자</span>-->
<!--                                <span class="pushend" th:text="${rp.regdate}">-->
<!--                                        작성일-->
<!--                                    </span>-->
<!--                            </div>-->
<!--                            <p class="py-1 pre" th:text="${rp.comments}"></p>-->
<!--                        </td>-->
<!--                    </th:block>-->
<!--                </tr>-->
<!--            </table>&lt;!&ndash; 댓글/대댓글 목록 &ndash;&gt;-->

<!--            <div class="py-3" th:if="${session.loginUser ne null}">-->
<!--                <form class="card card-body bg-light" method="post"-->
<!--                      name="replyfrm" id="replyfrm">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col text-center"><label th:text="${session.loginUser.userid}">abc123</label></div>-->

<!--                        <div class="col-8"><textarea id="comments" rows="10" name="comments"-->
<!--                                                     class="form-control col-7"></textarea></div>-->

<!--                        <div class="col"><button type="button" id="replybtn"-->
<!--                                                 class="btn btn-dark">-->
<!--                            <i class="fa fa-commenting"></i>댓글쓰기</button></div>-->
<!--                    </div>-->
<!--                    <input type="hidden" name="userid" value="abc123" />-->
<!--                    <input type="hidden" name="pno" th:value="${param.bno}" />-->
<!--                </form>-->
<!--            </div>&lt;!&ndash; 댓글쓰기 &ndash;&gt;-->

        </div>
        <div class="modal hide" id="cmtModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">대댓글 쓰기</h3>
                    </div>
                    <div class="modal-body">
                        <form name="cmmtfrm" id="cmmtfrm" method="post">
                            <textarea name="comments" id="cmmt" rows="8" cols="60"
                                      class="span4"></textarea>
                            <input type="hidden" name="userid" value="abc123">
                            <input type="hidden" name="pno" th:value="${param.bno}">
                            <input type="hidden" name="ref" id="refno">
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" id="cmmtbtn"
                                class="btn btn-danger">대댓글 작성</button>
                    </div>
                </div>
            </div>
        </div><!-- 대댓글 쓰기 -->
    </main>

</th:block>


<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>


</html>