<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">


<th:block layout:fragment="content">
  <main class="main">
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">매물상세보기</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About 2 Section -->
    <section id="about-2" class="about-2 section">
      <div class="container">
        <div class="row g-4 g-lg-5">
          <div class="col-lg-5">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <th:block th:each="img, iterStat : ${estateDto.estateImageOne}">
                  <div class="carousel-item" th:classappend="${iterStat.first} ? 'active'">
                    <img th:src="${img}" class="d-block w-100 rounded" alt="...">
                  </div>
                </th:block>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <!-- 매물 정보 -->
          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5" th:text="${estateDto.getEstateById.estate_title}">매물제목</h3>
            <p th:text="${estateDto.getEstateById.estate_desc}">매물 설명</p>
            <a class="btn btn-primary" th:href="@{/estate/reservation(estate_id=${estateDto.getEstateById.estate_id})}">예약하기</a>
            <br><br>

            <!-- 탭 -->
            <ul class="nav nav-tabs mb-3" id="estateTabs">
              <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab-details">상세</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-maptab">지도</a></li>
              <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-agent">공인중개사</a></li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tab-details">
                <p><strong>매물 상세정보</strong></p>
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">목록</th>
                    <th scope="col">상세</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>매물 번호</td>
                    <td><p th:text="${estateDto.getEstateById.estate_id}"></p></td>
                  </tr>
                  <tr>
                    <td>매물 주소</td>
                    <td><p th:text="${estateDto.getEstateById.estate_addr}"></p></td>
                  </tr>
                  <tr>
                    <td>보증금 및 월세</td>
                    <td><p th:text="|보증금: ${#numbers.formatInteger(estateDto.getEstateById.estate_deposit, 0, 'COMMA')}원 / 월세: ${#numbers.formatInteger(estateDto.getEstateById.estate_rent, 0, 'COMMA')}원|"></p></td>
                  </tr>
                  <tr>
                    <td>매물 정보</td>
                    <td>
                      <p>
                        <span th:text="|면적: ${estateDto.getEstateById.estate_area}㎡|"></span><br>
                        <span th:text="|관리비: ${estateDto.getEstateById.estate_amount}원|"></span><br>
                        <span th:text="|유형: ${estateDto.getEstateById.estate_type}|"></span><br>
                        <span th:text="|방 유형: ${estateDto.getEstateById.estate_roomType}|"></span><br>
                        <span th:text="|주차: ${estateDto.getEstateById.estate_parking}|"></span><br>
                        <span th:text="|엘리베이터: ${estateDto.getEstateById.estate_elev == 't' ? '있음' : '없음'}|"></span>
                      </p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <!-- 지도 탭 -->
              <div class="tab-pane fade" id="tab-maptab">
                <p><strong>매물 위치</strong></p>
                <div id="map" style="width:100%;height:350px;"></div>
              </div>

              <!-- 공인중개사 정보 -->
              <div class="tab-pane fade" id="tab-agent">
                <p><strong>공인중개사 정보</strong></p> <br>

                <!-- 공인중개사 정보 테이블 -->
                <div class="container">
                  <h4><span th:text="${estateDto.estateByAgent.agent_name}"></span></h4>
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">목록</th>
                      <th scope="col">상세</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>공인중개사 이름</td>
                      <td><p th:text="${estateDto.estateByAgent.agent_name}"></p></td>
                    </tr>
                    <tr>
                      <td>핸드폰 번호</td>
                      <td><p th:text="${estateDto.estateByAgent.agent_phone}"></p></td>
                    </tr>
                    <tr>
                      <td>소개</td>
                      <td><p th:text="${estateDto.estateByAgent.agent_intro}"></p></td>
                    </tr>
                    <tr>
                      <td>부동산 이름</td>
                      <td><p th:text="${estateDto.estateByAgent.office_name}"></p></td>
                    </tr>
                    <tr>
                      <td >부동산 위치</td>
                      <td><p th:text="${estateDto.estateByAgent.office_address}"></p></td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div> <!-- tab-content 끝 -->



          </div>
        </div>
      </div>
    </section>
  </main>


  <!-- Carousel JavaScript 초기화 -->

<!--  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var myCarousel = new bootstrap.Carousel(document.getElementById('hero-carousel'), {
        interval: 5000,  // 슬라이드 전환 시간 설정
        ride: 'carousel'  // 자동으로 슬라이드 넘기기
      });
    });
  </script>-->

  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ae6dd296f57d49ae926d65b1254802f6"></script>
  <script>

    document.addEventListener("DOMContentLoaded", (e) => {
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div
              mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 5 // 지도의 확대 레벨
              };

      // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
      var map = new kakao.maps.Map(mapContainer, mapOption);

      // 마커가 표시될 위치입니다
      var markerPosition = new kakao.maps.LatLng(33.450701, 126.570667);

      // 마커를 생성합니다
      var marker = new kakao.maps.Marker({
        position: markerPosition
      });

      // 마커가 지도 위에 표시되도록 설정합니다
      marker.setMap(map);

      // 마커가 드래그 가능하도록 설정합니다
      marker.setDraggable(true);

    });



  </script>

</th:block>

<th:block layout:fragment="script">



</th:block>

</html>
