<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<th:block layout:fragment="content" class="service-details-page">
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Login Form</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a th:href="|/user/index_demo|">>Home</a></li>
            <li class="current">Join Form</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">


      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded col-md-6 mx-auto p-5">
        <h2 class="text-center p-4 mb-4">회원가입</h2>
        <div class="col-md-8 mx-auto">
          <form method="post" name="joinform" id="joinform" novalidate>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="user_id" id="user_id" placeholder="아이디" value="" required>
              <label for="user_id">아이디</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="user_name" id="user_name" placeholder="이름" value="user1" required>
              <label for="user_name">이름</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" name="user_password" id="user_password" placeholder="비밀번호" value="user1" required>
              <label for="user_password">비밀번호</label>
            </div>
            <div class="form-floating mb-3 pwd_icon">
              <input type="password" class="form-control" id="rePwd" placeholder="비밀번호 확인" value="user1" requiredv>
<!--              <div><i class="fa-solid fa-eye"></i></div>-->
              <label for="rePwd">비밀번호 확인</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="user_email" id="user_email" placeholder="이메일" value="user1@user1" required>
              <label for="user_email">이메일</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="user_phone" id="user_phone" placeholder="휴대폰 번호" value="010-1111-2222" required>
              <label for="user_phone">휴대폰 번호</label>
            </div>
            <div class="form-check d-inline-block">
              <input class="form-check-input" type="radio" name="user_gender" id="male" value="male">
              <label class="form-check-label" for="male">
                남성
              </label>
            </div>
            <div class="form-check d-inline-block ml-3">
              <input class="form-check-input" type="radio" name="user_gender" id="female" value="female" checked>
              <label class="form-check-label" for="female">
                여성
              </label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="user_addr1" id="user_addr1" value="tjdnf" placeholder="주소" required>
              <label for="user_addr1">주소</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="user_addr2" id="user_addr2" value="akvhrn" placeholder="상세주소" required>
              <label for="user_addr2">상세주소</label>
            </div>
            <div class="text-center p-4">
              <button  class="btn btn-outline-success" type="submit">회원가입</button>
            </div>
          </form>
        </div>
      </div>
    </section>

  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
<!--  <div id="preloader"></div>-->

  <!-- Main JS File -->
<!--  <script src="/js/main.js"></script>-->
</th:block>
</body>
</html>