<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

  <th:block layout:fragment="content">
    <main class="main">

      <!-- Page Title -->
      <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
          <h1 class="mb-2 mb-lg-0">Login Form</h1>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li class="current">Login Form</li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->

      <!-- Service Details Section -->
      <section id="service-details" class="service-details section">

        <!-- 로그인 화면 -->

        <div class="content shadow-lg mb-5 bg-body-tertiary rounded col-md-5 mx-auto">
          <div class="login_wrap">

            <ul class="menu_wrap nav nav-tabs justify-content-center mb-4 d-flex border-0" role="tablist">
              <li class="nav-item text-center w-50">
                <a href="#none" id="userLoginNav" class="nav-link active custom-tab p-4" aria-selected="true">일반 로그인</a>
              </li>
              <li class="nav-item text-center w-50">
                <a href="#none" id="agentLoginNav" class="nav-link custom-tab p-4" aria-selected="false">공인중개사 로그인</a>
              </li>
            </ul>

            <form id="login_Frm" name="login_Frm" method="post" novalidate>
              <ul class="panel_user">
                <li class="panel_item">
                  <div class="inner_pane form1">
                    <h2 class="text-center m-5">일반 로그인</h2>
                    <div class="col-md-8 mx-auto">
                      <div class="login_frm">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="user_id" id="floatingInput1" placeholder="아이디" required>
                          <label for="floatingInput1">아이디</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="user_password" id="floatingPassword1" placeholder="비밀번호" required>
                          <label for="floatingPassword1">비밀번호</label>
                        </div>
                      </div>
                      <div class="text-center m-5">
                        <button type="submit" class="btn btn-success mx-1 login">로그인</button>

                        <button id="joinbtn" type="button" class="btn btn-outline-success join">회원가입</button>
                        <div class="mt-3">
                          <button class="btn btn-link text-secondary" id="find_id">아이디 찾기</button>
                          <button class="btn btn-link text-secondary" id="find_pwd">비밀번호 찾기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>

        <div class="content shadow-lg mb-5 bg-body-tertiary rounded col-md-5 mx-auto" style="margin-top: -50px; ">
          <form id="login_Frm2" name="login_Frm2" class="d-none" method="post" novalidate>
            <ul class="panel_user">
              <li class="panel_item">

                <div class="inner_pane form2">
                  <h2 class="text-center m-5">공인중개사 로그인</h2>
                  <div class="col-md-8 mx-auto">

                    <div class="login_frm">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput2" name="agent_name" placeholder="아이디" required>
                        <label for="floatingInput2">이름</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPassword2" name="agent_num" placeholder="공인중개사 번호" required>
                        <label for="floatingPassword2">공인중개사 번호</label>
                      </div>
                    </div>

                    <div class="text-center m-5">
                      <button class="btn btn-outline-success mx-1">로그인</button>
                      <div class="mt-3">
                        <button class="btn btn-link link-underline-secondary" style="color: gray;">아이디 찾기</button>
                        <button class="btn btn-link link-underline-secondary" style="color: gray;">비밀번호 찾기</button>
                      </div>
                    </div>
                  </div>
                </div>

              </li>
            </ul>
          </form>

        </div>

<!--        </div>-->
<!--        </div>-->


      </section>

    </main>

  </th:block>


<!-- Scroll Top -->
<!--<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i-->
<!--        class="bi bi-arrow-up-short"></i></a>-->

<!-- Preloader -->
<!--<div id="preloader"></div>-->
  <!-- Main JS File -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
  let chgNavUser = document.getElementById('userLoginNav');
  let chgNavAgent = document.getElementById('agentLoginNav');
  let userLoginElement = document.getElementById('login_Frm');
  let agentLoginElement = document.getElementById('login_Frm2');

  // 요소가 존재하는지 확인
  if (chgNavUser && chgNavAgent && userLoginElement && agentLoginElement) {
    // 공인중개사 로그인 메뉴 클릭 시
    chgNavAgent.addEventListener('click', (e) => {
      agentLoginElement.classList.remove('d-none');
      chgNavUser.classList.remove('active');
      chgNavAgent.classList.add('active');
      userLoginElement.classList.add('d-none');
    });

    // 일반 로그인 메뉴 클릭 시
    chgNavUser.addEventListener('click', (e) => {
      chgNavAgent.classList.remove('active');
      chgNavUser.classList.add('active');
      agentLoginElement.classList.add('d-none');
      userLoginElement.classList.remove('d-none');
    });
  }

  // 로그인 화면에서 회원가입 버튼 클릭 시 회원가입 페이지 이동
  let gojoinFrm = document.querySelector('.join');
  if (gojoinFrm) {
    gojoinFrm.addEventListener('click', (e) => {
      location.href = 'join';
    });
  }

  // 아이디 찾기 버튼 클릭 시 팝업 창
  let findID = document.getElementById('find_id');
  if (findID) {
    findID.addEventListener('click', (e) => {
      window.open('/joinForm.html', '_blank', 'width=500,height=500');
    });
  }

  // 비밀번호 찾기 클릭 시 팝업 창
  let findPWd = document.getElementById('find_pwd');
  if (findPWd) {
    findPWd.addEventListener('click', (e) => {
      window.open('/joinForm.html', '_blank', 'width=500,height=500');
    });
  }

  // 로그인 버튼 눌렀을 때
  agentLoginElement?.addEventListener("submit", (e) => {
    e.preventDefault();

    clearMessages(); //에러메세지 초기화

    // 입력 요소 유효성 검사
    let isValid = validAgentLogin(e.target);
    if(isValid) submitAgentLoginfrm(e.target);
  });



    </script>
  </th:block>

</html>