<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<body class="service-details-page">
  <th:block layout:fragment="content">
    <main class="main">

      <!-- Page Title -->
      <div class="page-title light-background">
        <div class="container d-lg-flex justify-content-between align-items-center">
          <h1 class="mb-2 mb-lg-0">Login Form</h1>
          <nav class="breadcrumbs">
            <ol>
              <li><a th:href="|/user/index_demo|">>Home</a></li>
              <li class="current">Login Form</li>
            </ol>
          </nav>
        </div>
      </div><!-- End Page Title -->

      <!-- Service Details Section -->
      <section id="service-details" class="service-details section">

        <!-- 로그인 화면 -->

        <div class="content shadow-lg mb-5 bg-body-tertiary rounded col-md-5 mx-auto">
          <div class="login_wrap">

            <ul class="menu_wrap nav nav-tabs justify-content-center mb-4 d-flex border-0" role="tablist">
              <li class="nav-item text-center w-50">
                <a href="#none" id="userLoginNav" class="nav-link active custom-tab p-4" aria-selected="true">일반 로그인</a>
              </li>
              <li class="nav-item text-center w-50">
                <a href="#none" id="agentLoginNav" class="nav-link custom-tab p-4" aria-selected="false">공인중개사 로그인</a>
              </li>
            </ul>

            <form id="login_Frm" name="login_Frm" method="post" novalidate>
              <ul class="panel_user">
                <li class="panel_item">
                  <div class="inner_pane form1">
                    <h2 class="text-center m-5">일반 로그인</h2>
                    <div class="col-md-8 mx-auto">
                      <div class="login_frm">
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="user_id" id="floatingInput1" placeholder="아이디" required>
                          <label for="floatingInput1">아이디</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input type="password" class="form-control" name="user_password" id="floatingPassword1" placeholder="비밀번호" required>
                          <label for="floatingPassword1">비밀번호</label>
                        </div>
                      </div>
                      <div class="text-center m-5">
                        <button type="submit" class="btn btn-success mx-1 login">로그인</button>

                        <button id="joinbtn" type="button" class="btn btn-outline-success join">회원가입</button>
                        <div class="mt-3">
                          <button class="btn btn-link text-secondary" id="find_id">아이디 찾기</button>
                          <button class="btn btn-link text-secondary" id="find_pwd">비밀번호 찾기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>

        <form id="login_Frm2" name="login_Frm2" class="d-none" method="post" novalidate>
          <ul class="panel_user">
            <li class="panel_item">

              <div class="inner_pane form2">
                <h2 class="text-center m-5">공인중개사 로그인</h2>
                <div class="col-md-8 mx-auto">

                  <div class="login_frm">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingInput2" name="agent_name" placeholder="아이디" value="성윤경" required>
                      <label for="floatingInput2">이름</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingPassword2" name="agent_num" placeholder="공인중개사 번호" value="15666" required>
                      <label for="floatingPassword2">공인중개사 번호</label>
                    </div>
                  </div>

                  <div class="text-center m-5">
                    <button class="btn btn-outline-success mx-1">로그인</button>
                    <div class="mt-3">
                      <button class="btn btn-link link-underline-secondary" style="color: gray;">아이디 찾기</button>
                      <button class="btn btn-link link-underline-secondary" style="color: gray;">비밀번호 찾기</button>
                    </div>
                  </div>
                </div>
              </div>

            </li>
          </ul>
        </form>

          </div>

        </div>
        </div>


      </section>

    </main>

  </th:block>

<footer id="footer" class="footer dark-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">Sailor</span>
        </a>
        <div class="footer-contact pt-3">
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Web Design</a></li>
          <li><a href="#">Web Development</a></li>
          <li><a href="#">Product Management</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Graphic Design</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 footer-newsletter">
        <h4>Our Newsletter</h4>
        <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
        <form action="forms/newsletter.php" method="post" class="php-email-form">
          <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your subscription request has been sent. Thank you!</div>
        </form>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Sailor</strong> <span>All Rights Reserved</span></p>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you've purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a
            href=“https://themewagon.com>ThemeWagon
    </div>
  </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>
</script>
</body>

</html>