<!DOCTYPE html>
<html lang="ko"
      xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org/)"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content" class="service-details-page">
<!--<body data-page="myPage">-->
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">마이페이지</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">my page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>mypage</h2>
        <p>check my info<br></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#features-tab-1">내 정보</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" id="tab1" href="#features-tab-2">예약 내역</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" id="tab2" href="#features-tab-3">게시판</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" id="tab3" href="#features-tab-4">북마크</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="features-tab-1">
                <form method="post" name="myInfoFrm" id="myInfoFrm">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>나의정보</h3>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="user_id" disabled th:value="${user.user_id}">
                        <label for="user_id">아이디</label>
                      </div>
<!--                        <div class="form-floating mb-3">-->
<!--                          <input type="password" class="form-control" id="user_password" disabled  th:value="${user.user_password}">-->
<!--                          <label for="user_password">비밀번호</label>-->
<!--                        </div>-->
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="user_name" disabled  th:value="${user.user_name}">
                        <label for="user_name">이름</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="hidden" class="form-control" id="user_num" disabled  th:value="${user.user_num}">
                        <label for="user_num">번호</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="user_addr1" disabled  th:value="${user.user_addr1}">
                        <label for="user_addr1">주소</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="user_addr2" disabled  th:value="${user.user_addr2}">
                        <label for="user_addr1">주소</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="user_phone" disabled  th:value="${user.user_phone}">
                        <label for="user_phone">휴대폰 번호</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="user_email" disabled  th:value="${user.user_email}">
                        <label for="user_email">이메일</label>
                      </div>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="/img/user/tabs/tab-1.png" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-8" style="text-align: end;">
                    <button type="button" class="m-2 btn btn-primary" id="chgMyinfoBtn">내 정보 변경하기</button>
                  </div>
                </form>
              </div>

              <div class="tab-pane" id="features-tab-2">
                <div class="row">
                  <div class="details order-2 order-lg-1">
                    <h3>예약 현황</h3>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>집 번호</th>
                          <th>공인중개사 이름</th>
                          <th>부동산 이름</th>
                          <th>공인중개사 핸드폰 번호</th>
                          <th>날짜</th>
                          <th>수락 여부</th>
                        </tr>
                      </thead>
                      <tbody id="reservTable">

                      </tbody>

                    </table>
                  </div>
<!--                  <div class="col-lg-4 text-center order-1 order-lg-2">-->
<!--                    <img src="/img/user/tabs/tab-2.png" alt="" class="img-fluid">-->
<!--                  </div>-->
                </div>
              </div>
              <div class="tab-pane" id="features-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>내 글 목록</h3>
                    <table class="table">
                      <colgroup style="width: 40%;"></colgroup>
                      <colgroup style="width: 20%;"></colgroup>
                      <colgroup style="width: 15%;"></colgroup>
                      <colgroup style="width: 25%;"></colgroup>
                      <tr>
                        <th>글제목</th>
                        <th>작성일</th>
                        <th>조회수</th>
                        <th>삭제</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary">삭제</button></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/user/tabs/tab-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>내 북마크 목록</h3>
                    <table class="table`">
                      <colgroup style="width: 25%;"></colgroup>
                      <colgroup style="width: 75%;"></colgroup>
                      <tr>
                        <th>사진</th>
                        <th>주소</th>
                      </tr>
                      <tr>
                        <td><img src="/img/user/about-bg.png"></td>
                        <td>서울 특별시 마포구 어떤동</td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/user/tabs/tab-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut
                      quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae
                      molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/user/tabs/tab-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Features Section -->

  </main>

</th:block>


<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<!--<div id="preloader"></div>-->

<!-- Main JS File -->
<th:block layout:fragment="script">

<script src="/js/user/main.js"></script>
<script th:inline="javascript">

  const frm = document.querySelector('form[name="myInfoFrm"]');
  const chgMyinfoBtn = document.getElementById('chgMyinfoBtn');
  const tbody = document.getElementById('reservTable');

  tbody.addEventListener('click', (e)=>{
    if(e.target.classList.contains('reserv_cancel')){
      const row = e.target.closest('tr');
      alert(row);
      const reserv_Id = row.querySelector('.reserv_num').value;
      console.log(reserv_Id);

      let result = confirm('정말로 삭제하시겼습니까');
      if(result>0){

        fetch(`/user/mypage/reserv_delete/${reserv_Id}`, {
          method : 'post',
          headers : { 'Content-Type': 'application/json' }
          // body : JSON.stringify({reserv_num : reserv_Id})
        }).then(async response=> {
          if(response.ok){
            console.log(response.status);
          }
        }).then(data=>{
          // console.log('data :::', data);
          tresult;
        }).catch({

        });
      }
    }
  });

  chgMyinfoBtn.addEventListener('click', ()=>{
    const inputs = document.querySelectorAll('#myInfoFrm input');
    console.log(chgMyinfoBtn.textContent);

    if(chgMyinfoBtn.textContent === '내 정보 변경하기'){
      inputs.forEach((input, idx) =>{
        console.log('버튼 변경');
        if(idx===0)return;
        input.removeAttribute('disabled');
        chgMyinfoBtn.textContent='내 정보 변경';
      });
      chgMyinfoBtn.classList.remove('btn-primary');
      chgMyinfoBtn.classList.add('btn-success');
      chgMyinfoBtn.textContent='내 정보 변경';
    }else{
      const formData = {};
      inputs.forEach(input=>{
        formData[input.id] = input.value;
      });
      console.log('frm data :::: ', formData);

      fetch('/user/userInfoUpdate', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(formData)
      })
      .then(response => response.json())
      .then(data => {
        console.log('서버 응답:', data);
        alert('정보가 성공적으로 수정되었습니다');
      })
      .catch(error => console.error('사용자 정보 업데이트 에러 발생'));

      inputs.forEach(input => input.setAttribute('disabled', 'false'));
      chgMyinfoBtn.textContent = '내 정보 변경하기';
      chgMyinfoBtn.classList.remove('btn-success');
      chgMyinfoBtn.classList.add('btn-primary');
    }
  });

  var userId = [[${user.user_id}]];

  let tresult = document.addEventListener("DOMContentLoaded", (e) => {
    const currentTabContent = document.body.getAttribute('data-page');

    const tabs = document.querySelectorAll(".nav-link");

    tabs.forEach(tab => {
      if(tab.id === 'tab') {
        console.log('첫번째 탭 션택>return;');
        return;
      }
      tab.addEventListener("shown.bs.tab", (e) => {
        console.log("탭 전환:", e.target.id);

        if(tab.id==='tab'){
          alert(`${tab.id}`);
          return;
        }else{
          fetch(`/user/mypage/${tab.id}`,{
            method : 'post',
            headers : {
              'content-type': 'application/json'
            } ,
            body : JSON.stringify({user_id: userId})
          }).then(async response => {
            console.log(response.status);
            if(response.ok) {
              const fetchedData = await response.json();
              console.log("Fetched Data Type:", typeof fetchedData);

              const dataList = Array.isArray(fetchedData)? fetchedData: fetchedData.data?fetchedData.data:[fetchedData]

              tbody.innerHTML='';

              console.log(fetchedData);

              if(!dataList || dataList.length === 0){
                const row = document.createElement('tr');
                row.innerHTML=`<td colspan="6" class="text-center"><h5>예약된 목록이 없습니다.</h5></td>`
                tbody.append(row);
              }

              dataList.forEach(data =>{
                const row = document.createElement('tr');
                row.innerHTML=`
                  <input type="hidden" class="reserv_num" value="${data.reserv_num}">
                  <td>${data.estate_id}</td>
                  <td>${data.agent_name}</td>
                  <td>${data.office_name}</td>
                  <td>${data.agent_phone}</td>
                  <td>${data.reserv_regdate.substring(0,10)}</td>
                  <td th:if="${data.reserv_state === 1}">
                    <button class="btn btn-primary reserv_cancel">취소</button>
                  </td>
                `
                tbody.append(row)
              });
            }else if(!response.ok){
              console.log('서버 응답 오류');
            }
          }).catch(error => {
            console.log(error);
          });
        }
      });
    });
  });
</script>
</th:block>

</html>