<!DOCTYPE html>
<html lang="ko"
      xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org/)"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content" class="service-details-page">
<body>
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">마이페이지</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a th:href="|/user/index_demo|">>Home</a></li>
            <li class="current">my page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title">
        <h2>mypage</h2>
        <p>check my info<br></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#features-tab-1">내 정보</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-2">예약 내역</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-3">게시판</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-4">북마크</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#features-tab-5">Iusto ut expedita aut</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="features-tab-1">
                <form method="post" name="">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>나의정보</h3>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mp_id" disabled value="aaaa">
                        <label for="mp_id">아이디</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="mp_pwd" disabled value="aaaa">
                        <label for="mp_pwd">비밀번호</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mp_name" disabled value="aaaa">
                        <label for="mp_name">이름</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mp_addr" disabled value="aaaa">
                        <label for="mp_addr">주소</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="mp_phone" disabled value="aaaa">
                        <label for="mp_phone">휴대폰 번호</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="mp_email" disabled value="aaaa">
                        <label for="mp_email">이메일</label>
                      </div>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="/img/user/tabs/tab-1.png" alt="" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-8" style="text-align: end;">
                    <button class="m-2 btn btn-primary" id="ChgMyinfoBtn">내 정보 변경하기</button>
                  </div>
                </form>
              </div>

              <div class="tab-pane" id="features-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>예약 현황</h3>
                    <table class="table">
                      <tr>
                        <th>이름</th>
                        <th>날짜</th>
                        <th>공인중개사 이름</th>
                        <th>공인중개사 핸드폰 번호</th>
                        <th>수락 여부</th>
                      </tr>
                    </table>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/user/tabs/tab-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>내 글 목록</h3>
                    <table class="table">
                      <colgroup style="width: 40%;"></colgroup>
                      <colgroup style="width: 20%;"></colgroup>
                      <colgroup style="width: 15%;"></colgroup>
                      <colgroup style="width: 25%;"></colgroup>
                      <tr>
                        <th>글제목</th>
                        <th>작성일</th>
                        <th>조회수</th>
                        <th>삭제</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary">삭제</button></td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/user/tabs/tab-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>내 북마크 목록</h3>
                    <table class="table`">
                      <colgroup style="width: 25%;"></colgroup>
                      <colgroup style="width: 75%;"></colgroup>
                      <tr>
                        <th>사진</th>
                        <th>주소</th>
                      </tr>
                      <tr>
                        <td><img src="/img/user/about-bg.png"></td>
                        <td>서울 특별시 마포구 어떤동</td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/user/tabs/tab-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="features-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut
                      quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae
                      molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/user/tabs/tab-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Features Section -->

  </main>
</body>
</th:block>


<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>