<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<body>
<th:block layout:fragment="content">
  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">매물찾기</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index_demo.html">Home</a></li>
            <li class="current">매물찾기</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->


    <!--검색-->

    <form id="searchForm" method="get">
      <div class="row mt-5 mb-3">
        <div class="row offset-1 col-7">
          <div class="col-3">
            <select class="form-select" id="findtype" name="findtype">
              <option selected="selected" value="all">지역구 선택</option>
              <option value="강남구">강남구</option>
              <option value="강동구">강동구</option>
              <option value="강북구">강북구</option>
              <option value="강서구">강서구</option>
              <option value="관악구">관악구</option>
              <option value="구로구">구로구</option>
              <option value="금천구">금천구</option>
              <option value="동대문구">동대문구</option>
              <option value="동작구">동작구</option>
              <option value="마포구">마포구</option>
              <option value="서대문구">서대문구</option>
              <option value="성동구">성동구</option>
              <option value="성북구">성북구</option>
              <option value="양천구">양천구</option>
              <option value="영등포구">영등포구</option>
              <option value="용산구">용산구</option>
              <option value="은평구">은평구</option>
              <option value="종로구">종로구</option>
            </select>
          </div>
          <div class="col-4">
            <input type="text" class="form-control col-2" id="findkey" name="findkey">
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-success" id="findbtn">
              <i class="fa-solid fa-magnifying-glass"></i> 검색하기
            </button>
          </div>
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">보증금</th>
        <th scope="col">월세</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="estate : ${estates}">
        <td th:text="${estate.estate_id}"></td>
        <td> <a th:href="|/estate/estateDetail?estate_id=${estate.estate_id}&agent_num=${estate.agent_num}|" th:text="${estate.estate_title}"></a></td>
        <td th:text="${#numbers.formatInteger(estate.estate_deposit, 3, 'COMMA')} + '원'"></td>
        <td th:text="${#numbers.formatInteger(estate.estate_rent, 3, 'COMMA')} + '원'"></td>
      </tr>
      </tbody>

    </table>
  </main>
<br>

</th:block>

<th:block layout:fragment="script">

  <script src="/js/user/estate.js"></script>

</th:block>
</body>
</html>