<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<body>
<th:block layout:fragment="content">
  <main class="main" th:with="pglink=${(#strings.isEmpty(param.findkey)) ?
                '/estate/list?cpg=' : '/estate/search?findtype=' + param.findtype + '&findkey=' + param.findkey + '&cpg='}">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">매물찾기</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a th:href="|/user/index_demo|">>Home</a></li>
            <li class="current">매물찾기</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->


    <!--검색-->

    <form id="searchForm" method="get">
      <div class="row mt-5 mb-3">

        <div class="row offset-1 col-7">
          <div class="col-3">
            <select class="form-select" id="findtype" name="findtype">
              <option selected="selected">:: 선택 :: </option>
              <option value="estate_id">매물번호</option>
              <option value="estate_gu">구 선택</option>
              <option value="estate_rent">월세</option>
              <option value="estate_parking">주차 가능 여부</option>
            </select>
          </div>
          <div class="col-4">
            <input type="text" class="form-control col-2" id="findkey" name="findkey" th:value="${param.findkey}"
                   placeholder="검색어 입력">
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-primary" id="findbtn"><i class="fa-solid fa-magnifying-glass"></i> 검색하기
            </button>
          </div>
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">구</th>
        <th scope="col">제목</th>
        <th scope="col">보증금</th>
        <th scope="col">월세</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="estate : ${estateListDto.estateList}">
        <td th:text="${estate.estate_id}"></td>
        <td th:text="${estate.estate_gu}"></td>
        <td> <a th:href="|/estate/estateDetail?estate_id=${estate.estate_id}&agent_num=${estate.agent_num}|" th:text="${estate.estate_title}"></a></td>
        <td th:text="${#numbers.formatInteger(estate.estate_deposit, 2, 'COMMA')} + '만원'"></td>
        <td th:text="${#numbers.formatInteger(estate.estate_rent, '0', 'COMMA')} + ' 만원'"></td>
      </tr>
      </tbody>


    </table>

    <!-- 페이징 처리 -->
    <nav class="app-pagination mt-5">
      <ul class="pagination justify-content-center">

        <li class="page-item" th:if="${estateListDto.cpg gt 5}">
          <a th:href="|${pglink}${estateListDto.cpg - 1}|" class="page-link">Prev</a>
        </li>

        <th:block th:each="i : ${#numbers.sequence(estateListDto.strBlock, estateListDto.endBlock)}">
          <li th:class="${(i ne estateListDto.cpg) ? 'page-item' : 'page-item active'}">
            <a th:href="|${pglink}${i}|" class="page-link" th:text="${i}"></a>
          </li>
        </th:block>

        <li class="page-item" th:if="${estateListDto.cpg lt estateListDto.totalPg}">
          <a th:href="|${pglink}${estateListDto.cpg + 1}|" class="page-link">Next</a>
        </li>

      </ul>
    </nav><!--//app-pagination-->

  </main>


  <br>

</th:block>

<th:block layout:fragment="script">

  <script src="/js/user/estate.js"></script>

</th:block>
</body>
</html>