<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_admin}">

<th:block layout:fragment="content">

	<!-- 검색 시 페이지네이션을 위한 변수선언 -->
	<div class="app-wrapper"
		 th:with="pglink=${(#strings.isEmpty(param.findkey)) ?
                '/admin/member?cpg=' : '/admin/member_find?findtype=' + param.findtype + '&findkey=' + param.findkey + '&cpg='}">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">[[${reservDto.totalCount}]]개의 매물</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">

									<!-- 상단 검색 영역 start -->
									<div class="d-flex align-items-center gap-1">
										<select class="form-select" style="width: 120px" id="findtype" name="findtype">
											<option value="user_name" selected>이름</option>
											<option value="user_id">아이디</option>
											<option value="user_addr1">주소(구)</option></select>
										<input class="form-control" style="width: 250px" id="findkey" name="findkey" th:value="${param.findkey}">   <!-- 페이지 이동시에도 검색 내용 남아있음 -->
										<button class="btn app-btn-primary" id="findbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
									</div>
									<!-- 상단 검색 영역 end -->

								</div><!--//col-->
								<div class="col-auto">

									<!-- 정렬 start -->
									<div class="dropdown">
										<button class="btn app-btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fa-solid fa-arrow-down-wide-short"></i>
										</button>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" th:href="|/admin/member|">모든회원</a></li>
											<li><a class="dropdown-item" th:href="|/admin/member_sort?sno=1|">구(가나다순)</a></li>
											<li><a class="dropdown-item" th:href="|/admin/member_sort?sno=2|">이름(가나다순)</a></li>
										</ul>
									</div>
									<!-- 정렬 end -->

								</div>
							</div><!--//row-->
						</div><!--//table-utilities-->
					</div><!--//col-auto-->
				</div><!--//row-->

				<!-- 상단 sort 영역 start -->
				<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
					<a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">일반회원</a>
				</nav>
				<!-- 상단 sort 영역 end -->

				<div class="tab-content" id="orders-table-tab-content">
					<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
						<div class="app-card app-card-orders-table shadow-sm mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table app-table-hover mb-0 text-left">
										<thead>
										<tr>
											<th class="cell">Number</th>
											<th class="cell">User</th>
											<th class="cell">Estate</th>
											<th class="cell">Agent</th>
											<th class="cell">State</th>
											<th class="cell"></th>
										</tr>
										</thead>
										<tbody>

										<!-- 회원 리스트 start -->
										<th:block th:each="lists : ${reservDto.reservList}">
											<tr>
												<td class="cell" id="reservNum" th:data-reserv-num="${lists.reserv_num}"
													th:text="${lists.reserv_num}"></td>
												<td class="cell"><span class="truncate" th:text="${lists.user_id}"></span></td>
												<td class="cell"><span class="truncate" th:text="${lists.estate_id}"></span></td>
												<td class="cell"><span th:text="${lists.agent_name}"></span></td>

												<th:block th:if="${lists.reserv_state eq 1}">
													<td class="cell"><span class="badge bg-warning">예약검토</span></td>
												</th:block>

												<th:block th:if="${lists.reserv_state eq 2}">
													<td class="cell"><span class="badge bg-danger">예약반려</span></td>
												</th:block>

												<th:block th:if="${lists.reserv_state eq 3}">
													<td class="cell"><span class="badge bg-success">예약성공</span></td>
												</th:block>

												<td class="cell"><div class="form-check form-switch">
													<input class="form-check-input" type="checkbox" role="switch" id="toggleSwitch"
														   th:checked="${lists.reserv_state eq 3} ? 'checked' : null">
												</div></td>
											</tr>
										</th:block>
										<!-- 회원 리스트 end -->

										</tbody>
									</table>
								</div><!--//table-responsive-->

							</div><!--//app-card-body-->
						</div><!--//app-card-->
						<nav class="app-pagination mt-5">
							<ul class="pagination justify-content-center">

								<li class="page-item" th:if="${reservDto.cpg gt 5}">
									<a th:href="|${pglink}${reservDto.cpg - 1}|" class="page-link">Prev</a>
								</li>

								<th:block th:each="i : ${#numbers.sequence(reservDto.strBlock, reservDto.endBlock)}">
									<li th:class="${(i ne reservDto.cpg) ? 'page-item' : 'page-item active'}">
										<a th:href="|${pglink}${i}|" class="page-link" th:text="${i}"></a>
									</li>
								</th:block>

								<li class="page-item">
									<a th:href="|${pglink}${reservDto.cpg + 1}|" class="page-link">Next</a>
								</li>

							</ul>
						</nav><!--//app-pagination-->
					</div><!--//tab-pane-->
				</div><!--//tab-content-->
			</div><!--//container-fluid-->
		</div><!--//app-content-->
	</div><!--//app-wrapper-->

</th:block>

<th:block layout:fragment="script">
	<script>
		let reservNum = document.querySelector("#reservNum").dataset.reservNum;
		console.log(reservNum); // 콘솔 출력

		let toggleSwitch = document.querySelector("#toggleSwitch");
		var checkedState = 2;

		toggleSwitch.addEventListener('change', (e) => {
			checkedState = e.target.checked ? 1 : 0; // 체크되면 1, 해제되면 0

			if (checkedState === 1) {	// 예약 대기 or 반려 상태에서 누른 경우
				if (confirm('예약을 승인 하시겠습니까?')) {
					location.href = `/admin/book_ok?reserv_num=${reservNum}`;
				} else {
					e.target.checked = !checkedState;
				}
			} else if (checkedState === 0) { 	// 예약 승인 상태에서 누른 경우
				if (confirm('예약을 반려 하시겠습니까?')) {
					location.href = `/admin/book_no?reserv_num=${reservNum}`;
				} else {
					e.target.checked = !checkedState;
				}
			}
		});
	</script>
</th:block>
</html>

