<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_admin}">

<th:block layout:fragment="content">

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">

				<h1 class="app-page-title">[[${estDto.estateAllInfo.estate_id}]]번 매물</h1>
				<div class="row gy-4">

					<div class="col-12 col-lg-6">
						<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
							<div id="carouselExampleIndicators" class="carousel slide">
								<div class="carousel-indicators">
									<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
									<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
									<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
								</div>

								<!-- 매물 사진 carousel start -->
								<div class="carousel-inner">
									<th:block th:each="num : ${#numbers.sequence(1, 9)}">
										<th:block th:with="imagePath=${'.img' + num}">
											<div class="carousel-item" th:classappend="${num == 1} ? 'active'">
												<img th:src="${estDto.estateImages__${imagePath}__}" class="d-block w-100" alt="...">
											</div>
										</th:block>
									</th:block>
								</div>
								<!-- 매물 사진 carousel end -->

								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Pre</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
					</div>

					<!-- Estate 앱 카드 start -->
					<div class="col-12 col-lg-6">
						<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
											</svg>
										</div><!--//icon-holder-->

									</div><!--//col-->
									<div class="col-auto">
										<h4 class="app-card-title">Estate</h4>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//app-card-header-->

							<div class="app-card-body px-4 w-100">

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Id</strong></div>
											<div class="item-data" th:text="${estDto.estateAllInfo.estate_id}"></div>
										</div>
									</div>
								</div><!-- estate_id -->

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Title</strong></div>
											<div class="item-data" th:text="${estDto.estateAllInfo.estate_title}"></div>
										</div>
									</div>
								</div><!-- estate_title -->

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Description</strong></div>
											<div class="item-data" th:text="${estDto.estateAllInfo.estate_desc}"></div>
										</div>
									</div>
								</div><!-- estate_desc -->

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Address</strong></div>
											<div class="item-data" th:text="${estDto.estateAllInfo.estate_addr}"></div>
										</div>
									</div>
								</div><!-- estate_addr -->

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Agent</strong></div>
											<div class="item-data" th:text="${estDto.estateAllInfo.agent_num}"></div>
										</div>
									</div>
								</div><!-- agent_num -->
							</div>
						</div>
					</div><!--//col-->
					<!-- Estate 앱 카드 end -->

					<hr class="my-4">

					<!-- Payment 앱 카드 start -->
					<div class="col-12 col-lg-6">
						<div class="app-card app-card-account shadow-sm d-flex flex-column align-items-start">
							<div class="app-card-header p-3 border-bottom-0">
								<div class="row align-items-center gx-3">
									<div class="col-auto">
										<div class="app-icon-holder">
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
												<path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
											</svg>
										</div><!--//icon-holder-->

									</div><!--//col-->
									<div class="col-auto">
										<h4 class="app-card-title">Payment</h4>
									</div><!--//col-->
								</div><!--//row-->
							</div><!--//app-card-header-->
							<div class="app-card-body px-4 w-100">

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Deposit</strong></div>
											<div class="item-data">[[${estDto.estateAllInfo.estate_deposit}]]만 ₩</div>
										</div>
									</div>
								</div><!-- estate_deposit -->

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Rent</strong></div>
											<div class="item-data">[[${estDto.estateAllInfo.estate_rent}]]만 ₩</div>
										</div>
									</div>
								</div><!-- estate_rent -->

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Leasable Area</strong></div>
											<div class="item-data">[[${estDto.estateAllInfo.estate_area}]] ㎡</div>
										</div>
									</div>
								</div><!-- estate_area -->

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>maintenance Fee</strong></div>
											<div class="item-data">[[${estDto.estateAllInfo.estate_amount}]]만 ₩</div>
										</div>
									</div>
								</div><!-- estate_amount -->

								<div class="item border-bottom py-3">
									<div class="row justify-content-between align-items-center">
										<div class="col-auto">
											<div class="item-label"><strong>Estate Type</strong></div>
											<div class="item-data" th:text="${estDto.estateAllInfo.estate_type}"></div>
										</div>
									</div>
								</div><!-- estate_type -->

							</div>
						</div>
					</div>
					<!-- Payment 앱 카드 end -->

					<hr class="my-4">



					<div class="app-card-footer p-4 mt-auto" align="center">
						<button type="button" class="btn btn-danger" id="rmvmembtn">Delete</button>
					</div>

				</div><!--//row-->
			</div><!--//container-fluid-->
		</div><!--//app-content-->
	</div><!--//app-wrapper-->
</th:block>

<th:block layout:fragment="script">
	<script src="/js/admin/estate.js"></script>
	<script th:inline="javascript">
		let rmvmembtn = document.querySelector("#rmvmembtn");

		const user_id = [[${estate_id}]];

		rmvmembtn.addEventListener('click', (e) => {
			if (confirm('정말로 삭제 하시겠습니까?')) {
				location.href = `/admin/estate_remove?estate_id=${estate_id}`;
			}
		});
	</script>
</th:block>

</html>

