<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_admin}">

<th:block layout:fragment="content">

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<h1 class="app-page-title">[[${estDto.estateAllInfo.estate_id}]]번 매물</h1>
				<hr class="mb-4">
				<div class="row g-4 settings-section">
					<div class="col-12 col-md-4">

						<div class="shadow-sm d-flex flex-column align-items-start">
							<div id="carouselExampleIndicators" class="carousel slide">

								<!-- 매물 사진 carousel start -->
								<div class="carousel-inner">
									<th:block th:each="img : ${estDto.estateImages}">
										<div class="carousel-item" th:classappend="${#strings.contains(img, '1.jpg')} ? 'active'">
											<img th:src="${img}" class="d-block w-100 rounded" alt="...">
										</div>
									</th:block>
								</div>
								<!-- 매물 사진 carousel end -->

								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Pre</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>

						<hr class="mb-4">
						<h3 class="section-title">Estate</h3>
					</div>

				</div><!--//row-->

<!-- 매물 수정 form start -->
				<form name="estateModifyFrm" id="estateModifyFrm" method="post" novalidate>

					<!-- 매물상세 블록 1 start -->
					<div class="col-12 col-md-8">
						<div class="app-card app-card-settings shadow-sm p-4">

							<div class="app-card-body">

								<!-- estate_id -->
								<div class="mb-3">
									<label for="estate_id" class="form-label">Id</label>
									<input type="text" class="form-control" id="estate_id" name="estate_id"
										   th:value="${estDto.estateAllInfo.estate_id}" readonly>
								</div>

								<!-- estate_title -->
								<div class="mb-3">
									<label for="estate_title" class="form-label">Title</label>
									<input type="text" class="form-control" id="estate_title" name="estate_title"
										   th:value="${estDto.estateAllInfo.estate_title}">
								</div>

								<!-- estate_desc -->
								<div class="mb-3">
									<div class="item-label"><strong>Description</strong></div>
									<div class="item-data" th:text="${estDto.estateAllInfo.estate_desc}"></div>
								</div>

								<!-- estate_addr -->
								<div class="mb-3">
									<label for="estate_addr" class="form-label">Address</label>
									<input type="text" class="form-control" id="estate_addr" name="estate_addr"
										   th:value="${estDto.estateAllInfo.estate_addr}">
								</div>

								<!-- agent_num -->
								<div class="mb-3">
									<label for="agent_num" class="form-label">Agent</label>
									<input type="text" class="form-control" id="agent_num" name="agent_num"
										   th:value="${estDto.estateAllInfo.agent_num}" readonly>
								</div>
								<br>

								<button type="submit" class="btn app-btn-primary">Save Changes</button>
							</div>

						</div>
					</div>
					<!-- 매물상세 블록 1 end -->

					<hr class="my-4">

					<!-- 매물상세 블록 2 start -->
					<div class="col-12 col-md-8">
						<div class="app-card app-card-settings shadow-sm p-4">

							<div class="app-card-body">

								<!-- estate_deposit -->
								<div class="mb-3">
									<label for="estate_deposit" class="form-label">Deposit</label>
									<input type="text" class="form-control" id="estate_deposit" name="estate_deposit"
										   th:value="${estDto.estateAllInfo.estate_deposit}">
								</div>

								<!-- estate_rent -->
								<div class="mb-3">
									<label for="estate_rent" class="form-label">Rent</label>
									<input type="text" class="form-control" id="estate_rent" name="estate_rent"
										   th:value="${estDto.estateAllInfo.estate_rent}">
								</div>

								<!-- estate_area -->
								<div class="mb-3">
									<label for="estate_area" class="form-label">Leasable Area</label>
									<input type="text" class="form-control" id="estate_area" name="estate_area"
										   th:value="${estDto.estateAllInfo.estate_area}">
								</div>

								<!-- estate_amount -->
								<div class="mb-3">
									<label for="estate_amount" class="form-label">Maintenance Fee</label>
									<input type="text" class="form-control" id="estate_amount" name="estate_amount"
										   th:value="${estDto.estateAllInfo.estate_amount}">
								</div>

								<!-- estate_type -->
								<div class="mb-3">
									<label for="estate_type" class="form-label">Estate Type</label>
									<input type="text" class="form-control" id="estate_type" name="estate_type"
										   th:value="${estDto.estateAllInfo.estate_type}">
								</div>

								<!-- estate_service -->
								<div class="mb-3">
									<label for="estate_service" class="form-label">Estate Sevice</label>
									<input type="text" class="form-control" id="estate_service" name="estate_service"
										   th:value="${estDto.estateAllInfo.estate_service}">
								</div>
								<br>

								<button type="submit" class="btn app-btn-primary">Save Changes</button>
							</div>

						</div>
					</div>
					<!-- 매물상세 블록 2 end -->

					<hr class="my-4">

					<!-- Option 앱카드 start -->
					<div class="row g-1 settings-section">
						<div class="col-12 col-md-4">
							<h3 class="section-title">Option</h3>
						</div>
						<div class="col-12 col-md-8">
							<div class="app-card app-card-settings shadow-sm p-4">

								<div class="app-card-body">
									<div class="mb-2"><strong>Status:</strong>

										<th:block th:if="${estDto.estateAllInfo.estate_state eq 1}">
											<span class="badge bg-success">판매중</span>
										</th:block>

										<th:block th:if="${estDto.estateAllInfo.estate_state eq 0}">
											<span class="badge bg-danger">판매완료</span>
										</th:block>

									</div>

									<!-- estate_moveDate -->
									<div class="mb-3">
										<label for="estate_moveDate" class="form-label">Move Date</label>
										<input type="text" class="form-control" id="estate_moveDate" name="estate_moveDate"
											   th:value="${estDto.estateAllInfo.estate_moveDate}" readonly>
									</div>

									<!-- estate_option -->
									<div class="mb-3">
										<label for="estate_option" class="form-label">Option</label>
										<input type="text" class="form-control" id="estate_option" name="estate_option"
											   th:value="${estDto.estateAllInfo.estate_option}" readonly>
									</div>

									<!-- estate_viewCount -->
									<div class="mb-4"><strong>View Count:</strong> <a href="#">[[${estDto.estateAllInfo.estate_viewCount}]]</a></div>

									<div class="row justify-content-between">
										<div class="col-auto">
											<button type="submit" class="btn app-btn-primary">Save Changes</button>
										</div>
										<div class="col-auto">
											<a class="btn app-btn-secondary" th:href="|/admin/book|">Reservation</a>
										</div>
									</div>

								</div><!--//app-card-body-->

							</div><!--//app-card-->
						</div>
					</div>
					<!-- Option 앱카드 end -->

					<hr class="my-4">
				</form>
<!-- 매물 수정 form end -->

				<hr class="my-4">
			</div><!--//container-fluid-->
		</div><!--//app-content-->
	</div><!--//app-wrapper-->

</th:block>

<th:block layout:fragment="script">
	<script src="/js/admin/estate.js"></script>
	<script>
		const estateModifyFrm = document.querySelector('#estateModifyFrm');

		estateModifyFrm.addEventListener("submit", (e) => {
			e.preventDefault(); // submit 버튼 기능 중지

			if (confirm('정말로 수정 하시겠습니까?')) {
				submitEstateModifyFrm(estateModifyFrm);
			}
		});
	</script>
</th:block>
</html>

