<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_admin}">

<th:block layout:fragment="content">

	<div class="app-wrapper"
		 th:with="pglink=${(#strings.isEmpty(param.findkey)) ?
                '/admin/agent?cpg=' : '/admin/agent_find?findtype=' + param.findtype + '&findkey=' + param.findkey + '&cpg='}">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<div class="position-relative mb-3">
					<div class="row g-3 justify-content-between">
						<div class="col-auto">
							<h1 class="app-page-title mb-0">공인중개사</h1>
						</div>
						<div class="col-auto">
							<div class="page-utilities">
								<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
									<div class="col-auto">

										<!-- 상단 검색 form 영역 start -->
										<form class="docs-search-form row gx-1 align-items-center">
											<div class="col-auto">
												<input type="text" id="search-docs" name="searchdocs" class="form-control search-docs" placeholder="Search">
											</div>
											<div class="col-auto">
												<button type="submit" class="btn app-btn-primary">Search</button>
											</div>
										</form>
										<!-- 상단 검색 form 영역 end -->

									</div>
									<div class="col-auto">

										<!-- 정렬 start -->
										<div class="dropdown">
											<button class="btn app-btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
												--- 정렬 ---
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" th:href="|/admin/agent|">모든공인중개사</a></li>
												<li><a class="dropdown-item" th:href="|/admin/agent_sort?sno=1|">구(가나다순)</a></li>
												<li><a class="dropdown-item" th:href="|/admin/agent_sort?sno=2|">판매실적별</a></li>
											</ul>
										</div>
										<!-- 정렬 end -->

									</div>

								</div><!--//row-->
							</div><!--//table-utilities-->
						</div><!--//col-auto-->
					</div>
				</div>

				<!-- 상단 sort 영역 start -->
				<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
					<a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">공인중개사</a>
				</nav>
				<!-- 상단 sort 영역 end -->

				<!-- 공인중개사 app card start -->
				<th:block th:each="lists : ${agentDto.agentList}">
					<div class="app-card app-card-notification shadow-sm mb-4">
						<div class="app-card-header px-4 py-3">
							<div class="row g-3 align-items-center">
								<div class="col-12 col-lg-auto text-center text-lg-start">
									<img class="profile-image" th:src="${lists.agent_photo}" alt="사진 없음">
								</div><!--//col-->
								<div class="col-12 col-lg-auto text-center text-lg-start">
									<div class="notification-type mb-2"><span class="badge bg-info">Project</span></div>
									<h4 class="notification-title mb-1" th:text="${lists.office_name}"></h4>

									<ul class="notification-meta list-inline mb-0">
										<li class="list-inline-item">[[${lists.agent_num}]] 번</li>
									</ul>

									<ul class="notification-meta list-inline mb-0">
										<li class="list-inline-item" th:text="${lists.agent_name}"></li>
										<li class="list-inline-item">|</li>
										<li class="list-inline-item" th:text="${lists.agent_local}"></li>
									</ul>

								</div><!--//col-->
							</div><!--//row-->
						</div><!--//app-card-header-->
						<div class="app-card-body p-4">
							<div class="notification-content" th:text="${lists.agent_phone}"></div>
							<div class="notification-content" th:text="${lists.office_address}"></div>
						</div><!--//app-card-body-->
						<div class="app-card-footer px-4 py-3">
							<a class="action-link" th:href="|/admin/agent_view/${lists.agent_num}|">더보기<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right ms-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
							</svg></a>
						</div><!--//app-card-footer-->
					</div>
				</th:block>
				<!-- 공인중개사 app card end -->

				<nav class="app-pagination">
					<ul class="pagination justify-content-center">

						<li class="page-item" th:if="${agentDto.cpg gt 5}">
							<a th:href="|${pglink}${agentDto.cpg - 1}|" class="page-link">Prev</a>
						</li>

						<th:block th:each="i : ${#numbers.sequence(agentDto.strBlock, agentDto.endBlock)}">
							<li th:class="${(i ne agentDto.cpg) ? 'page-item' : 'page-item active'}">
								<a th:href="|${pglink}${i}|" class="page-link" th:text="${i}"></a>
							</li>
						</th:block>

						<li class="page-item">
							<a th:href="|${pglink}${agentDto.cpg + 1}|" class="page-link">Next</a>
						</li>

					</ul>
				</nav><!--//app-pagination-->

			</div><!--//container-fluid-->
		</div><!--//app-content-->
	</div><!--//app-wrapper-->

</th:block>
</html>

