<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_admin}">

<th:block layout:fragment="content">

	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<div class="position-relative mb-3">
					<div class="row g-3 justify-content-between">
						<div class="col-auto">
							<h1 class="app-page-title mb-0">공인중개사</h1>
						</div>
						<div class="col-auto">
							<div class="page-utilities">
								<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
									<div class="col-auto">

										<!-- 상단 검색 form 영역 start -->
										<form class="docs-search-form row gx-1 align-items-center">
											<div class="col-auto">
												<input type="text" id="search-docs" name="searchdocs" class="form-control search-docs" placeholder="Search">
											</div>
											<div class="col-auto">
												<button type="submit" class="btn app-btn-secondary">Search</button>
											</div>
										</form>
										<!-- 상단 검색 form 영역 end -->

									</div>
									<div class="col-auto">

										<select class="form-select w-auto">
											<option selected="" value="option-1">All</option>
											<option value="option-2">Text file</option>
											<option value="option-3">Image</option>
											<option value="option-4">Spreadsheet</option>
											<option value="option-5">Presentation</option>
											<option value="option-6">Zip file</option>

										</select>
									</div>
									<div class="col-auto">
										<a class="btn app-btn-primary" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-upload me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
											<path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
										</svg>Upload File</a>
									</div>
								</div><!--//row-->
							</div><!--//table-utilities-->
						</div><!--//col-auto-->
					</div>
				</div>

				<!-- 공인중개사 app card start -->
				<th:block th:each="lists : ${agentDto.agentList}">
					<div class="app-card app-card-notification shadow-sm mb-4">
						<div class="app-card-header px-4 py-3">
							<div class="row g-3 align-items-center">
								<div class="col-12 col-lg-auto text-center text-lg-start">
									<img class="profile-image" th:src="${lists.agent_photo}" alt="사진 없음">
								</div><!--//col-->
								<div class="col-12 col-lg-auto text-center text-lg-start">
									<div class="notification-type mb-2"><span class="badge bg-info">Project</span></div>
									<h4 class="notification-title mb-1" th:text="${lists.office_name}"></h4>

									<ul class="notification-meta list-inline mb-0">
										<li class="list-inline-item">[[${lists.agent_num}]] 번</li>
									</ul>

									<ul class="notification-meta list-inline mb-0">
										<li class="list-inline-item" th:text="${lists.agent_name}"></li>
										<li class="list-inline-item">|</li>
										<li class="list-inline-item" th:text="${lists.agent_local}"></li>
									</ul>

								</div><!--//col-->
							</div><!--//row-->
						</div><!--//app-card-header-->
						<div class="app-card-body p-4">
							<div class="notification-content" th:text="${lists.agent_phone}"></div>
							<div class="notification-content" th:text="${lists.office_address}"></div>
						</div><!--//app-card-body-->
						<div class="app-card-footer px-4 py-3">
							<a class="action-link" th:href="|/admin/agent_view|">더보기<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right ms-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
							</svg></a>
						</div><!--//app-card-footer-->
					</div>
				</th:block>
				<!-- 공인중개사 app card end -->

				<div class="text-center mt-4"><a class="btn app-btn-secondary" href="#">Load more notifications</a></div>
			</div><!--//container-fluid-->
		</div><!--//app-content-->
	</div><!--//app-wrapper-->

</th:block>
</html>

