<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<!-- Header Start -->
<header id="header" class="header d-flex align-items-center sticky-top" th:fragment="header">

    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a th:href="|/user/index_demo|" class="logo d-flex align-items-center me-auto">
            <h1 class="sitename" >HouseWay</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">메인화면</a></li>
                <li class="dropdown"><a href="/"><span>매물</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a th:href="|/estate/list|">매물 찾기</a></li>

                        <li><a href="">내가 관심있게 본 매물</a></li>

                    </ul>
                </li>
                <li><a href="services.html">공지사항</a></li>
                <li><a href="portfolio.html">동네 게시판</a></li>
<!--                <li><a th:href="|/user/mypage|">마이페이지</a></li>-->
                <li th:if="${session.loginUser!=null}">
                    <a th:href="|/user/mypage|">마이페이지</a>
                </li>
                <li th:if="${session.loginUser==null}">
                    <a th:href="|/user/login|">마이페이지</a>
                </li>

            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" th:href="|/user/login|"> 로그인 ${loginUser}</a>

    </div>
</header>
<!-- header end -->
