<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<!-- Header Start -->
<header id="header" class="header d-flex align-items-center sticky-top" th:fragment="header">

    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a th:href="|/user/index_demo|" class="logo d-flex align-items-center me-auto">
            <h1 class="sitename" >HouseWay</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">메인화면</a></li>
                <li class="dropdown"><a href="/"><span>매물</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a th:href="|/estate/list|">매물 찾기</a></li>

                        <li><a href="">내가 관심있게 본 매물</a></li>

                    </ul>
                </li>
                <li><a href="board/list">공지사항</a></li>
                <li><a href="portfolio.html">동네 게시판</a></li>
                <li th:if="${session.loginUser!=null}">
                    <a th:href="|/user/mypage|">[[${session.loginUser.user_name}]] 님, 환영합니다.</a>
                </li>
                <li th:if="${session.loginUser == null} and ${session.agentLogin ==null}">
                    <a th:href="|/user/login|">마이페이지</a>
                </li>
<!--                <li th:if="${session.loginUser != null} or ${session.agentLogin != null}">-->
<!--                    <a th:href="|/user/login|">로그아웃</a>-->
<!--                </li>-->
                <li th:if="${session.agentLogin!=null}">
                    <a th:href="|/user/mypage|">[[${session.agentLogin.agent_name}]] 님, 환영합니다.</a>
                </li>


            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" th:if="${session.loginUser == null} and ${session.agentLogin ==null}" th:href="|/user/login|"> 로그인 </a>
        <a class="btn-getstarted" th:if="${session.loginUser != null} or ${session.agentLogin != null}" th:href="|/user/logout|"> 로그아웃 </a>

    </div>
</header>
<!-- header end -->
