<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="houseway.houseway.repository.admin.EstateAdminRepository">

    <!-- 멤버 검색을 위한 카운트 메서드 - mapper -->
    <select id="countFindEstate" parameterType="map">
        SELECT count(estate_id) cnt FROM estate
        WHERE ${findtype} LIKE CONCAT('%', #{findkey}, '%')
    </select>


    <!-- 멤버 검색(페이지네이션) - mapper -->
    <select id="selectFindEstate" parameterType="map">
        <!-- where 절의 컬럼명을 변수값에 따라 동적으로 변화시키려면 #{findtype} 대신 ${findtype}로 사용할 것 -->
        SELECT estate_id, agent_num, estate_title, estate_addr, estate_deposit, estate_rent, estate_viewCount, estate_state
        FROM estate
        WHERE ${findtype} LIKE CONCAT('%', #{findkey}, '%')
        ORDER BY estate_id DESC LIMIT #{strnum}, #{pageSize}
    </select>

</mapper>