<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout_admin}">

<th:block layout:fragment="content">

	<!-- 검색 시 페이지네이션을 위한 변수선언 -->
	<div class="app-wrapper"
		 th:with="pglink=${(#strings.isEmpty(param.findkey)) ?
                '/admin/member?cpg=' : '/admin/member_find?findtype=' + param.findtype + '&findkey=' + param.findkey + '&cpg='}">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">회원정보</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">

									<!-- 상단 검색 영역 start -->
									<div class="d-flex align-items-center gap-1">
										<select class="form-select" style="width: 120px" id="findtype" name="findtype">
											<option value="user_name" selected>이름</option>
											<option value="user_id">아이디</option>
											<option value="user_addr1">주소(구)</option></select>
										<input class="form-control" style="width: 250px" id="findkey" name="findkey" th:value="${param.findkey}">   <!-- 페이지 이동시에도 검색 내용 남아있음 -->
										<button class="btn app-btn-primary" id="findbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
									</div>
									<!-- 상단 검색 영역 end -->

								</div><!--//col-->
								<div class="col-auto">

									<!-- 정렬 start -->
									<div class="dropdown">
										<button class="btn app-btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fa-solid fa-arrow-down-wide-short"></i>
										</button>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" th:href="|/admin/member|">모든회원</a></li>
											<li><a class="dropdown-item" th:href="|/admin/member_sort?sno=1|">구(가나다순)</a></li>
											<li><a class="dropdown-item" th:href="|/admin/member_sort?sno=2|">이름(가나다순)</a></li>
										</ul>
									</div>
									<!-- 정렬 end -->

								</div>
							</div><!--//row-->
						</div><!--//table-utilities-->
					</div><!--//col-auto-->
				</div><!--//row-->

				<!-- 상단 sort 영역 start -->
				<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
					<a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">일반회원</a>
				</nav>
				<!-- 상단 sort 영역 end -->

				<div class="tab-content" id="orders-table-tab-content">
					<div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
						<div class="app-card app-card-orders-table shadow-sm mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Number</th>
												<th class="cell">Id</th>
												<th class="cell">Name</th>
												<th class="cell">Email</th>
												<th class="cell">Gender</th>
												<th class="cell">Date</th>
												<th class="cell"></th>
											</tr>
										</thead>
										<tbody>

										<!-- 회원 리스트 start -->
										<th:block th:each="lists : ${memberDto.userList}">
											<tr>
												<td class="cell" th:text="${lists.user_num}"></td>
												<td class="cell"><span class="truncate" th:text="${lists.user_id}"></span></td>
												<td class="cell"><span class="truncate" th:text="${lists.user_name}"></span></td>
												<td class="cell"><span th:text="${lists.user_email}"></span></td>
												<td class="cell" th:text="${lists.user_gender}"></td>
												<td class="cell" th:text="${lists.user_regdate}"></td>
												<td class="cell"><a class="btn-sm app-btn-secondary" th:href="|/admin/member_view/${lists.user_id}|">View</a></td>
											</tr>
										</th:block>
										<!-- 회원 리스트 end -->

										</tbody>
									</table>
								</div><!--//table-responsive-->

							</div><!--//app-card-body-->
						</div><!--//app-card-->
						<nav class="app-pagination mt-5">
							<ul class="pagination justify-content-center">

								<li class="page-item" th:if="${memberDto.cpg gt 5}">
									<a th:href="|${pglink}${memberDto.cpg - 1}|" class="page-link">Prev</a>
								</li>

								<th:block th:each="i : ${#numbers.sequence(memberDto.strBlock, memberDto.endBlock)}">
									<li th:class="${(i ne memberDto.cpg) ? 'page-item' : 'page-item active'}">
										<a th:href="|${pglink}${i}|" class="page-link" th:text="${i}"></a>
									</li>
								</th:block>

								<li class="page-item" th:if="${memberDto.cpg lt memberDto.totalPg}">
									<a th:href="|${pglink}${memberDto.cpg + 1}|" class="page-link">Next</a>
								</li>

							</ul>
						</nav><!--//app-pagination-->
					</div><!--//tab-pane-->
				</div><!--//tab-content-->
			</div><!--//container-fluid-->
		</div><!--//app-content-->
	</div><!--//app-wrapper-->

</th:block>

<th:block layout:fragment="script">
	<script>
		let findbtn = document.querySelector("#findbtn");
		let findtype = document.querySelector("#findtype");
		let findtkey = document.querySelector("#findkey");

		findbtn.addEventListener('click', (e) => {
			if (findtkey.value === '') {
				alert('검색어를 입력하세요');
			} else {
				let params = `findtype=${findtype.value}&findkey=${findtkey.value}`;
				location.href = `/admin/member_find?${params}`;
			}
		});
	</script>
</th:block>
</html>

